@model ERAWeb.Models.LicaoModel

@{
    ViewBag.Title = "Lição";
}

<h2>Lição</h2>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <p>
            <span class="h2">
                <b>@Html.DisplayNameFor(model => model.DataLicao)</b>
            </span>
            <br />
            @Html.EditorFor(model => model.DataLicao, new { @class = "form-control", type = "date" })
        </p>    
        <span class="h2">
            <b>Data de Entrega da Lição</b>
        </span>
        <input class="form-control datepicker" data-val="true"
               id="DataEntregaLicao" name="DataEntregaLicao" placeholder="Selecione a data..." type="date" value="">


        <p>
            <span class="h2">
                <b>@Html.DisplayNameFor(model => model.TurmaId)</b>
            </span>
            @Html.DropDownList("TurmaId", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TurmaId)
        </p>

        <p>
            <span class="h2">
                <b>@Html.DisplayNameFor(model => model.DisciplinaId)</b>
            </span>
            @Html.DropDownList("DisciplinaId", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DisciplinaId)
        </p>

        <p>
            <label class="h2">
                <b>@Html.DisplayNameFor(model => model.Conteudo)</b>
            </label>
            @Html.TextAreaFor(model => model.Conteudo, new { @class = "form-control", @style = "height:300px; width:800px;" })
            @Html.ValidationMessageFor(model => model.Conteudo)
        </p>

        <p>
            <input type="submit" value="Cadastrar" class="btn btn-info" style="width:100%;" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")

    <script type="text/javascript">
        $(function () {
            $.validator.methods.date = function (value, element) {
                var _date = $.validator.methods.date;

                $.validator.methods.date = function (value, element) {
                    return _date.call(this, Globalize.parseDate(value), element);
                };
            }
        });
        /*$(document).ready(function () { // will trigger when the document is ready
            $('.form-control datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                showStatus: true,
                showWeeks: true,
                currentText: 'Now',
                autoSize: true,
                gotoCurrent: true,
                showAnim: 'blind',
                highlightWeek: true
            });
        });
    </script>
}
