@model IEnumerable<ERAWeb.Models.BoletimModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Boletim</h2>

<br />
<br />
<br />
<table border="2" cellpadding="10px" cellspacing="10px" style="width:100%; border-style:none; text-align:center">
    <tbody class="customBody">
        <tr style="border-style:none">
            <td>
                <img src="~/Content/logo.png" style="height: 80px" />
            </td>
            <td colspan="12" style="font-size:large">
                Aluno: @Model.First().Aluno.Nome
                <br />
                @Model.First().Aluno.UPCATN
            </td>
        </tr>
        <tr style="border-style:none">
            <td rowspan="2">
                Disciplina
            </td>
            <td colspan="4">1º Trimestre</td>
            <td colspan="4">2º Trimestre</td>
            <td colspan="4">3º Trimestre</td>
        </tr>
        <tr style="border-style:none">
            <td>
                Nota
            </td>
            <td>
                Rec
            </td>
            <td>
                Média
            </td>
            <td width="10px">
                FT
            </td>
            <td>
                Nota
            </td>
            <td>
                Rec
            </td>
            <td>
                Média
            </td>
            <td>
                FT
            </td>
            <td>
                Nota
            </td>
            <td>
                Rec
            </td>
            <td>
                Média
            </td>
            <td>
                FT
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="border-style:none">
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplinaDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim1Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim1Rec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim1Media)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim1Faltas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim2Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim2Rec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim2Media)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim2Faltas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim3Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim3Rec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim3Media)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaTrim3Faltas)
                </td>
            </tr>
        }

        <tr style="border-style:none">
            <td colspan="13" style="text-align:center">
                ** RESULTADOS PARCIAIS E FINAIS DO ALUNO **
            </td>
        </tr>
        <tr style="border-style:none">
            <td>Disciplina</td>
            <td>TOT. FAL.</td>
            <td>AULAS DADAS</td>
            <td>% FREQUÊNCIA</td>
            <td>TOTAL PONTOS</td>
            <td>MEDIA</td>
            <td>REC.</td>
            <td>REC.</td>
            <td>MEDIA FINAL</td>
            <td colspan="4">RESULTADOS</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="border-style:none">
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplinaDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFaltas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AulasDadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaGeral)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="4"></td>
            </tr>
        }
</table>
